<a href="https://colab.research.google.com/github/MunirahHF/Deployment/blob/main/Data%20Cleansing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# Load the dataset
file_path = 'Cross Selling.csv'
data = pd.read_csv(file_path)

# Display basic information about the dataset
print(data.info())

<ipython-input-2-bcc0d5908c60>:5: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 929615 entries, 0 to 929614
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   fecha_dato             929615 non-null  object
 1   ncodpers               929615 non-null  int64
 2   ind_empleado           929615 non-null  object
 3   pais_residencia        929615 non-null  object
 4   sexo                   929610 non-null  object
 5   age                    929615 non-null  int64
 6   fecha_alta             929615 non-null  object
 7   ind_nuevo              929615 non-null  int64
 8   antiguedad             929615 non-null  int64
 9   indrel                 929615 non-null  int64
 10  ult_fec_cli_1t         1683 non-null    object
 11  indrel_1mes            929592 non-null  float64
 12  tiprel_1mes            929592 non-null  object
 13  indresi                929615 non-null  object
 14  indext                 929615 non-null  object
 15  conyuemp               104 non-null     object
 16  canal_entrada          927534 non-null  object
 17  indfall                929615 non-null  object
 18  tipodom                929615 non-null  int64
 19  cod_prov               925619 non-null  float64
 20  nomprov                925619 non-null  object
 21  ind_actividad_cliente  929615 non-null  int64
 22  renta                  929615 non-null  object
 23  segmento               927367 non-null  object
dtypes: float64(2), int64(7), object(15)
memory usage: 170.2+ MB
None

In [3]:
# Display the first few rows
print(data.head())

   fecha_dato  ncodpers ind_empleado pais_residencia sexo  age  fecha_alta  \
0  2016-06-28     15889            F              ES    V   56  1995-01-16
1  2016-06-28   1170544            N              ES    H   36  2013-08-28
2  2016-06-28   1170545            N              ES    V   22  2013-08-28
3  2016-06-28   1170547            N              ES    H   22  2013-08-28
4  2016-06-28   1170548            N              ES    H   22  2013-08-28

   ind_nuevo  antiguedad  indrel  ... indext  conyuemp canal_entrada indfall  \
0          0         256       1  ...      N         N           KAT       N
1          0          34       1  ...      N       NaN           KAT       N
2          0          34       1  ...      N       NaN           KHE       N
3          0          34       1  ...      N       NaN           KHE       N
4          0          34       1  ...      N       NaN           KHE       N

  tipodom cod_prov         nomprov ind_actividad_cliente        renta  \
0       1     28.0          MADRID                     1    326124.90
1       1      3.0        ALICANTE                     0           NA
2       1     15.0       CORUÃ‘A, A                     1           NA
3       1      8.0       BARCELONA                     0    148402.98
4       1      7.0  BALEARS, ILLES                     0    106885.80

             segmento
0            01 - TOP
1   02 - PARTICULARES
2  03 - UNIVERSITARIO
3  03 - UNIVERSITARIO
4  03 - UNIVERSITARIO

[5 rows x 24 columns]

In [4]:
# Check for missing values in each column
missing_values = data.isnull().sum()

# Display columns with missing values
print("Missing values in each column:")
print(missing_values[missing_values > 0])

Missing values in each column:
sexo                   5
ult_fec_cli_1t    927932
indrel_1mes           23
tiprel_1mes           23
conyuemp          929511
canal_entrada       2081
cod_prov            3996
nomprov             3996
segmento            2248
dtype: int64

### Handling Missing Values

In [7]:
data['sexo'].fillna(data['sexo'].mode()[0], inplace=True)
data['cod_prov'].fillna(data['cod_prov'].median(), inplace=True)

In [11]:

from sklearn.impute import KNNImputer

# Separate the numeric and non numeric columns
numeric_cols = data.select_dtypes(include=['number']).columns
non_numeric_cols = data.select_dtypes(exclude=['number']).columns

# Apply KNNImputer to numeric columns only
imputer = KNNImputer(n_neighbors=5)
data[numeric_cols] = imputer.fit_transform(data[numeric_cols])

# Handle non numeric columns separately,filling with mode
for col in non_numeric_cols:
    data[col].fillna(data[col].mode()[0], inplace=True)